.btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $primary-color;

    // &:hover{
    //     background-color: $primary-color;
    //     opacity: 0.5;
    // }
}
