.header {
    position: fixed;
    width: 86.5625rem;
    height: 96px;
    margin: 20px auto;
    margin-left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;


    &__logo {
        width: 48px;
        height: 48px;
        object-fit: cover;
    }

    &__nav {
        position: relative;
        width: 830px;
        height: 100%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        display: flex;
        justify-content: center;
        align-items: center;

        .header__line {
            position: absolute;
            left: -256px;
            top: 50%;
            margin-left: 50px;
            transform: translateX(-50%);
            background-color: $primary-color;
            height: 1px;
            width: 473px;
            opacity: 0.25;
        }

        ul {
            display: flex;

            a {
                position: relative;
                font-family: $font-2;
                color: $primary-color;
                text-transform: uppercase;
                font-size: $normal-font-size;
                font-weight: 200;
                letter-spacing: 1px;
                margin-left: 30px;

                span {
                    font-weight: 700;
                    margin: 5px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 3px;
                    background-color: $primary-color;
                    bottom: -39px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.3s;
                }

                &:hover::after {
                    width: 100%;
                    opacity: 0.5;
                }
            }

            .active {
                &::after {
                    content: '';
                    position: absolute;
                    width: 70px;
                    height: 3px;
                    background-color: $primary-color;
                    bottom: -39px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}