 .swiper {
     width: 100%;
     height: 100%;
     position: relative;

     .swiper-wrapper {

         .swiper-slide {
             @include flex-center();

             .content-left,
             .img-content-right {
                 width: 50%;
             }

             .img-content-right {
                 display: flex;
                 justify-content: end;

                 img {
                    max-width: 580px;
                 }
             }

         }


     }


     .swiper-pagination {
         display: flex;
         position: absolute;
         bottom: 10rem;
         left: 0;

         .swiper-pagination-bullet {
             height: 15px;
             width: 15px;
             background-color: $primary-color;

             &:hover {
                 background-color: #ccc;
                 opacity: 3;
                 transition: all 0.3s ease-in-out;
             }
         }
     }
 }