.swiper {
    width: 100%;
    height: 100%;    

    .swiper-wrapper {
        .swiper-slide {
            @include flex-center();

            // .content-right,
            // .img-content-left {
            // }
        }
    }

    .swiper-pagination {
        cursor: pointer;
        display: flex;
        float: left;
        color: $primary-color;
    }
}
