.crew {
    height: 100vh;
    background: url(../../assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    background-position: fixed;
    @include flex-center();

    &__container {
        .crew__content {
            // margin-top: 30px;
            border: 1px solid rgb(168, 54, 54);
            height: 70%;
        }
    }
}
