.destination {
    background: url(../../../public/assets/destination/background-destination-desktop.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .destination__content {
        @include space-between();
        margin-top: 50px;
        padding: 10px;

        .img-content-left {
            width: 50%;
            max-width: 60%;
            display: flex;
            padding-left: 50px;
            justify-content: flex-end;

            img {
                width: 445px;
                height: 445px;
            }
        }

        .txt-content-right {
            max-width: 40%;

            .btns-list {
                display: flex;

                button {
                    background: none;
                    position: relative;
                    font-family: $font-2;
                    color: $second-color;
                    text-transform: uppercase;
                    font-size: $normal-font-size;
                    font-weight: 300;
                    letter-spacing: 2.7px;
                    margin-right: 30px;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 3px;
                        background-color: $primary-color;
                        bottom: -15px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: 0.3s;
                    }

                    &:hover::after {
                        width: 90%;
                        opacity: 0.5;
                    }
                }

                .active {
                    color: $primary-color;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 90%;
                        height: 3px;
                        background-color: $primary-color;
                        bottom: -15px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .line {
                background-color: $primary-color;
                height: 1px;
                width: 100%;
                opacity: 0.25;
                margin: 30px auto;
            }

            .info {
                display: flex;
                text-transform: uppercase;

                .info-box-left {
                    margin-right: 60px;
                }

                span {
                    font-size: $small-font-size;
                    color: $second-color;
                    letter-spacing: 2.36px;
                    font-family: $font-2;
                }
                p {
                    font-size: $h5-font-size;
                    color: $primary-color;
                    letter-spacing: 2.36px;
                    font-family: $body-font;
                    font-weight: 400;
                    line-height: 1.8;
                }
            }
        }
    }
}
