.section {
    width: 100%;
    height: 100vh;
    @include flex-center();
    overflow: hidden;

    .container {
        width: 80%;
        height: 60%;
        margin: auto;
    }

    &__title-big,
    &__title-normal,
    &__subtitle {
        text-transform: uppercase;
        font-weight: 400;
    }

    &__title-big {
        font-size: $h2-font-size;
        line-height: 1.7;
    }

    &__title-normal {
        font-size: $h4-font-size;
        line-height: 37px;
        opacity: 0.5;
    }

    // &__title-small{

    // }
    &__subtitle {
        font-size: $h3-font-size;
        line-height: 64px;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: $body-txt-size;
        font-family: $font-2;
        font-weight: 200;
        line-height: 32px;
        color: $second-color;
        margin-bottom: 40px;
        max-width: 380px;
    }
}

//For mobile
// .container{
//     max-width: 968px;
//     margin-left: 1.5rem;
//     margin-right: 1.5rem;
// }